{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/signin.css') }}" />
{% endblock %}

{% block title %}login{% endblock %}

{% block body %}
    <section class="mon-compte">
        <h2>Mon compte</h2>

        <div id="connection">
            <h3>Vous avez déjà un compte Mina Hooma ?</h3>
            <form method="POST" action="">
                <div class="field">
                    <label for="email">Email :</label>
                    <input type="email" name="email" id="email" placeholder="email" required autofocus/>
                </div>

                <div class="field">
                    <label for="password">Mot de passe :</label>
                    <input type="password" name="password" required placeholder="*****"/>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('login_form') }}" />
                <input type="submit" value="Connecter" />

                <div>
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Garder ma session active !</label>
                </div>
            </form>
        </div>

        <div id="inscription">
            <h3>Nouveau client</h3>
            <p>Créez un compte en quelques secondes pour profiter pleinement du site Mina Hooma</p>
            <a href="{{ path('app_subscribe') }}" class="button">Créer un compte</a>
        </div>
    </section>
{% endblock %}
