{% extends "base.html.twig" %}
{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="subcribe">
        <section>
            <h2>Créer un nouveau compte</h2>
                {{ form_start(monFormulaire) }}
                {{ form_widget(monFormulaire) }}
                <input type="submit" value="Ajouter" class="btn btn-primary"/>
                {{ form_end(monFormulaire) }}
        </section>
    </div>
{% endblock %}
