section h2 {
  color: darkred;
  font-size: 1.6em;
  text-align: center;
}

.image-produit {
  width:100px;
}

h3 {
  font-size: 1.2em;
  text-transform: capitalize;
  text-align: center;
  padding: 2em;
}

#lien-ajout {
  text-align: center;
  margin-top: 50px;
}

#lien-ajout button {
  width: 200px;
  padding: 5px;
  border: 1px solid black;
  color: black;
  background-color: white;
  text-transform: capitalize;
  font-weight: 100;
  transition: 200ms;
  cursor: pointer;
  margin: 0.8em;
}

#lien-ajout button:hover {
  background: black;
  color: white;
  transition: 200ms;
}

i {
 margin: 0.8em;
}

table {
  width: 100%;
}

table tr {
  border-bottom: 1px solid #ccd;
}

table td,
table th {
  vertical-align: middle;
  text-align: center;
  padding: 10px 0;
}