h2 {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
}

.img-about{
  width: 200px;
}

section h3 {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin: 20px 0;
}

section h3::after {
  content: '';
  border-bottom: 1px solid #ccc;
  flex-grow: 1;
  margin-left: 10px;
}
