:root {
  --margin-value: 50px;
}

main h2 {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}

section {
  overflow: visible;
  clear: both;
  margin-top: var(--margin-value);
}

section h3 {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-size: 1.8em;
}

section h3::after {
  content: '';
  border-bottom: 1px solid #ccc;
  flex-grow: 1;
  margin-left: 20px;
}

section p {
  line-height: 1.5em;
  margin-bottom: 1em;
  font-size: 1.5em;
}

section img {
  width: 250px;
  margin-bottom: var(--margin-value);
  box-shadow: 0 0 10px #0005;
}

section img.left {
  float: left;
  margin-right: var(--margin-value);
}

section img.right {
  float: right;
  margin-left: var(--margin-value);
}
