header {
  width: 100%;
  padding: 2em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header h1 {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}
header h1 a,
header h1 a:hover {
  text-decoration: none;
  color: black;
}
header h2 {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 1.5rem;
}
header > ul.main-menu {
  display: flex;
  flex-direction: row;
  align-self: center;
  list-style-type: none;
  justify-content: space-between;
  width: 700px;
  margin-top: 2em;
}

header > ul.main-menu li {
  width: 100%;
}

header > ul.main-menu li a {
  display: block;
  text-decoration: none;
  padding: 0.5em;
  background: white;
  color: black;
  transition-duration: 0.5s;
}

header > ul.main-menu li a:hover {
  background: black;
  color: white;
  transition-duration: 0.5s;
}

header ul.top-menu {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

header ul.top-menu li a {
  display: block;
  color: black;
  padding: 10px 20px;
}

header ul.top-menu:hover li a:hover {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #000000;
}

header ul.top-menu li a i {
  margin-right: 10px;
}

header ul.top-menu:hover li a {
  color: #BBBBBB;
}

@media only screen and (max-width: 767px) {
  header > ul.main-menu {
    flex-direction: column;
    width: 100%;
  }

  header > ul.main-menu li {
    margin: 0.5em 0;
  }
}