{% extends "base.html.twig" %}

{% block title %}ajouter{% endblock %}
{% block body %}
    <div class="ajout">
        {{ form_start(monFormulaire) }}
            {{ form_widget(monFormulaire) }}
            <input type="submit" value="Ajouter" />
        {{ form_end(monFormulaire) }}
    </div>
{% endblock %}