{% extends "base.html.twig" %}

{% block title %}Apropos{% endblock %}

{% block body %}
    <div class="about">
        <h2>La maison Mina Hooma Paris</h2>

        <section>
            <h3><span>Qui sommes-nous ?</span></h3>
            <img src="{{ asset(imageFolder ~ "about1.jpg") }}" class="left">
            <p>"Avec le plaisir pour seul guide", succombez à nos associations de saveurs originales et iconiques, à nos créations fruitées et à nos entremets incontournables. Pour lesquelles allez vous vous laisser tenter ?</p>
            <p>Pâtisserie fine fondée, en 2017 à Gabes, en Tunisie, par Fe Ao, elle est cette tradition fière et fidèle, à la richesse subtile et intemporelle.</p>
        </section>

        <section>
            <h3><span>Un savoir-faire unique !</span></h3>
            <img src="{{ asset(imageFolder ~ "about2.jpg") }}" class="right">
            <p>Le travail scrupuleux de ces matières premières, à la main, s’apparente à un travail d’orfèvres confectionnant des joailleries à partir de matières précieuses.</p>
            <p>La recherche constante de saveurs raffinées, le travail soigné de l’esthétisme et des formes, alliés à ces matières nobles créent l’harmonie indispensable à la création de ces plaisirs bienfaiteurs.</p>
            <p>C’est pourquoi, nous avons su garder cette touche qui nous différencie !</p>
            <p>Nos pâtisseries sont uniques, et nous y veillons !</p>
        </section>
    </div>
{% endblock %}
