<footer>
    <ul class="social-links">
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="far fa-envelope"></i></a></li>
    </ul>
    <p>Copyright © Mina Hooma 2020</p>
</footer>