<header>
    <h1>Mina Hooma</h1>
    <h2>patisserie</h2>
    <ul class="main-menu">
        <li><a href="{{ path('showCakeList') }}">Gateaux</a></li>
        <li><a href="#">Chocolat</a></li>
        <li><a href="#">Formation</a></li>
        <li><a href="#">Connexion <i class="fas fa-user"></i></a></li>
        <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
    </ul>
</header>